.auth-form-container {
    position: relative;
    background-color: var(--text-color);
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .auth-form {
    position: absolute;
    background-color: #fff;
    direction: ltr;
    width: 30%;
    height: 70%;
    display: flex;
    padding: 10px 0;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 3px solid var(--primary-color);
    border-radius: var(--border-radius);
}

.passwords-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.password-validations {
  direction: rtl;
  position: absolute;
  width: 250px;
  left: 230px;
  background-color: #fefefe;
  z-index: 2;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 15px 10px 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}

.validation {
  position: relative;
  color: red;
  padding: 0 5px;
  margin: 5px 0;
  font-size: 1rem;
}

.validation::before {
  position: absolute;
  color: red;
  right: -10px;
  bottom: 1px;
  content: "✗";
}

.validation.valid {
  color: green;
}

.validation.valid::before  {
  content: '✓';
  color: green;
}

.message {
  height: 20px;
}

input[type="submit"]:focus {
background-color: var(--text-color);
}

.auth-form-container .img-container {
  position: absolute;
  bottom: 0;
}