* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
  font-family: 'Bellefair', serif;
}

*:hover { transition: .2s; }
:root {
  --primary-color: #2d6a4f;
  --secondary-color: #1b4332;
  --text-color:#fefae0;
  --button-color: #ffeedd;
}
a { text-decoration: none;}
ul { list-style: none;}
button { cursor: pointer; }

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 80%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 1px 1px 10px 1px #000;
}
.modal button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  padding: 5px;
  font-size: 2rem;
  border-radius: 14px;
}
