* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
  font-family: 'Bellefair', serif;
}

*:hover { transition: .2s; }

a { text-decoration: none;}
ul { list-style: none;}
button { cursor: pointer; }
