.reminder-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  direction: rtl;
}

.reminder-modal.modal {
  justify-content: center;
}

.reminder-modal input {
  /* margin: 0; */
  display: block;
}

.medication-choices-container {
  display: flex;
}

.med-item  { 
  direction: ltr;
}


