.reminder-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  direction: rtl;
}

.reminder-container.modal {
  justify-content: space-around;
}



.reminder-modal input {
  /* margin: 0; */
  display: block;
}

.medication-choices-container {
  display: flex;
  height: 200px;
  width: 100%;
}

.medication-choices-container > * {
  border: 4px solid black;
  border-collapse: collapse;
  border-top-color: transparent;
  width:60% ;
  /* overflow-y: auto; */
  padding: 5px 10px;
  direction: ltr;
}
.medication-choices-container > *:first-child {
  border-right-color: transparent;
}
.medication-choices-container > *:last-child {
  border-left-color: transparent;
}


.med-item  { 
  font-size: 1rem;
  padding: 5px 0;
  cursor: pointer;
  font-weight: 600;
}


#add-reminder-btn >  button {
  position: relative;
  font-size: 1rem;
}

.duration-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  border: 1px solid black;
}

@media (max-width: 760px) {
  .reminder-container .modal {
    width: 100%;
  }
  .duration-details {
    font-size: 0.5rem;
  }
}


