button, input[type="submit"] {
  padding: 5px 10px;
  margin: 5px 15px;
  font-size: 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--button-color);
  border: 3px solid var(--secondary-color);
  cursor: pointer;
}

button:hover {
}