.interactions-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.interactions-modal {
  width: 70%;
}

.disclaimer-container {
  position: absolute;
  top: unset;
  left: unset;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 2;
  justify-content:center ;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.interaction-headers {
  border-bottom: 3px solid var(--secondary-color);;
  background-color: var(--button-color);
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 2rem;
  padding: 5px 0;
}

.interaction-headers li {
  padding: 0 15px;
}


.interaction-detail-list  {
  text-align: right;
  align-items: stretch;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-gap: 10px;

}

ul.reminder-item-list {
  border-bottom: 2px solid transparent;
}
ul.reminder-item-list:hover {
 border-bottom-color:var(--secondary-color);
}

.interaction-detail-item {
  margin: 5px 15px;
  text-align: right;
  font-size: 1.5rem;

}

@media (max-width: 870px){
  .interactions-modal.modal {
    width: 100%;
  }
  .interactions-modal.modal > ul {
    font-size: 1.5rem;
  }
  .interactions-modal.modal > ul > li {
    font-size: 1rem;
  }
}