.form-container {
  position: absolute;
  left: 0;
  top: 0;
  /* z-index: ; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: rtl;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-drug-form {
  padding: 10px;
  font-size: 2rem;
}

.add-drug-form > * > * > * > *{
  direction: rtl;
}
.form-choices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-drug-form .form-choices label {
  display: block;
  font-size: 1rem;
  direction: rtl;
  text-align: right;
}
.add-drug-form input {
  font-size: 1.5rem;
  display: block;

}

input[type='date'] {
  text-align: left;
  font-size: 1rem;
}