.user-nav-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  height: 10vh;
  direction: rtl;
}

.btn-container {
  justify-self: flex-start;
}